<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Calculo del numero menor y mayor</h1>
    <form th:action="@{/procesar}" method="get">
        <p>
            numero 1:
            <input type="text" name="numero1"/>
        </p>
        <p>
            numero 2:
            <input type="text" name="numero2"/>
        </p>
        <p>
            numero 3:
            <input type="text" name="numero3"/>
        </p>

        <button type="submit">calcular menor y mayor</button>

    </form>

</body>
</html>